
<div class="event_join-top">
    
    <div class="event-join-main">
        <div class="event-title">
            <h2><%= @post.title %></h2>
        </div>
        
        <div class="event-main-image">
             <img src="<%= "/images/#{@post.main_image}" %>">
            
        </div>
        
        <div class="join-ch">
                <%= link_to("イベントに参加", "/event_joins/#{@post.id}/create", {method: :post ,:class => "joinok-btn"}) %>
                <%= link_to("やっぱりやめる", "/", :class => "joinno-btn") %>
        </div>
        
    </div>


            

</div>