<div class="new-top">
<div class="circle-new">
    
    <h2>サークルを立ち上げる</h2>
      <%= form_tag("/circle/create", {multipart: true}) do %>  
        <p>サークルの名称</p>
            <input name="title">
        <p>カテゴリー</p>
            <select name="category">
                <option>スポーツ</option>
                <option>文化系</option>
                <option>ビジネス</option>
                <option>旅</option>
                <option>アウトドア</option>
                <option>グルメ・お酒</option>
                <option>その他</option>
            </select>
        <p>主な活動拠点</p>
            <select name="home">
                <option>北海道</option>
                <option>青森</option>
                <option>秋田</option>
                <option>山形</option>
                <option>岩手</option>
                <option>宮城</option>
                <option>福島</option>
                <option>新潟</option>
                <option>東京</option>
                <option>神奈川</option>
                <option>埼玉</option>
                <option>千葉</option>
                <option>茨城</option>
                <option>栃木</option>
                <option>群馬</option>
                <option>長野</option>
                <option>山梨</option>
                <option>静岡</option>
                <option>富山</option>
                <option>岐阜</option>
                <option>愛知</option>
                <option>石川</option>
                <option>福井</option>
                <option>大阪</option>
                <option>京都</option>
                <option>兵庫</option>
                <option>滋賀</option>
                <option>三重</option>
                <option>奈良</option>
                <option>和歌山</option>
                <option>岡山</option>
                <option>鳥取</option>
                <option>香川</option>
                <option>徳島</option>
                <option>高知</option>
                <option>愛媛</option>
                <option>鳥取</option>
                <option>広島</option>
                <option>山口</option>
                <option>福岡</option>
                <option>大分</option>
                <option>佐賀</option>
                <option>長崎</option>
                <option>熊本</option>
                <option>宮崎</option>
                <option>鹿児島</option>
                <option>沖縄</option>
                <option>海外</option>
            </select>
        <p>メイン画像</p>
            <input name="circle_image" type="file">
        <p>サークルの概要</p>
            <textarea name="outline"></textarea>
            
        <p>サークルの紹介</p>
            <textarea name="content"></textarea>
            <input type="submit" value="完了">    
      <% end %>
        
</div>